{% extends "base.html" %}

{% block titulo %}
  <title>Cesta Magica | Productos</title>
{% endblock %}

{% block css %}
<style>
  .card-img-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .card-img-top {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
  }

  .price {
    font-size: 0.9rem;
  }

  /* Estilo para enlaces dentro de las tarjetas */
  .card a {
    color: inherit; /* Hereda el color del contenedor */
    text-decoration: none; /* Elimina el subrayado */
  }

  .card a:hover {
    color: inherit; /* Mantiene el color al pasar el cursor */
    text-decoration: none; /* Sin subrayado en hover */
  }
</style>
{% endblock %}


{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">Nuestros Productos</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for producto in productos %}
      <div class="col">
        <div class="card h-100">
          <a href="{% url 'detalle_producto' producto.id %}" class="stretched-link text-decoration-none">
            <div class="card-img-container">
              <img src="{{ producto.imagen.url }}" 
                   class="card-img-top" 
                   alt="{{ producto.nombre }}" />
            </div>
            <div class="card-body">
              <h6 class="card-title text-truncate">{{ producto.nombre }}</h6>
              <p class="card-text text-truncate">
                {{ producto.descripcion|truncatechars:50 }}
              </p>
              <p class="card-text text-primary">
                <strong class="price" data-raw-price="{{ producto.precio }}">{{ producto.precio }}</strong>
              </p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  window.onload = function() {
    const priceElements = document.querySelectorAll('.price');
    priceElements.forEach(function(element) {
      const price = parseFloat(element.getAttribute('data-raw-price'));
      if (!isNaN(price)) {
        element.textContent = price.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' });
      }
    });
  };
</script>
{% endblock %}
