{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
  :root {
    --color-yellow-light: #f6eca9;
    --color-green-dark: #477c3b;
    --color-pink-bright: #cc479a;
    --color-blue-light: #6bbfdf;
    --color-brown-light: #c38855;
    --color-red-dark: #bd403a;
  }

  .card {
    padding: 15px;
    border-color: var(--color-brown-light);
  }

  .card img {
    object-fit: contain;
    height: 60vh;
    width: 100%;
  }

  .price {
    color: var(--color-green-dark);
    font-weight: bold;
  }

  .card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .btn-outline-secondary {
    color: var(--color-red-dark);
    border-color: var(--color-red-dark);
  }

  .btn-outline-secondary:hover {
    background-color: var(--color-red-dark);
    color: white;
  }
</style>
{% endblock css %}

{% block titulo %}
  <title>Cesta Mágica | {{ producto.nombre }}</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card shadow-lg border-2">
        <img 
          src="{{ producto.imagen.url }}" 
          class="img-fluid rounded" 
          alt="{{ producto.nombre }}" 
        />
      </div>
    </div>

    <div class="col-md-5">
      <div class="card shadow-lg mb-3">
        <div class="card-body">
          <h2 class="card-title mb-3">{{ producto.nombre }}</h2>

          <h4 class="mb-3">
            <strong class="price">Precio:</strong>
          </h4>
          <h6 class="mb-3">
            <strong class="price">$ {{producto.precio}}</strong>
          </h6>

          <p class="card-text text-muted mb-1">{{ producto.descripcion }}</p>
          <p class="card-text mt-1">
            <small style="color: var(--color-blue-light);">Stock Disponible: {{ producto.stock }}</small>
          </p>
        </div>
      </div>

      <!-- Botón para agregar al carrito usando AJAX -->
      <button class="btn btn-outline-primary w-100 mb-2" id="add-to-cart-btn" data-product-id="{{ producto.id }}">
        Agregar al carrito
      </button>

      <a href="{% url 'productos' %}" class="btn btn-outline-secondary w-100">
        Volver a Productos
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $("#add-to-cart-btn").click(function(event) {
    event.preventDefault();
    
    var productId = $(this).data("product-id");
    $.ajax({
      url: "{% url 'cart:add_to_cart' 0 %}".replace("0", productId),
      type: "POST",
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(response) {
        alert("Producto agregado al carrito!");
      },
      error: function(xhr, errmsg, err) {
        alert("Hubo un error al agregar el producto al carrito.");
      }
    });
  });
</script>
{% endblock js %}
